.git
.DS_Store
node_modules
**/node_modules
.next
**/.next
.vercel
**/.vercel
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
.env
**/.env
*.log
*.db
*.db-journal
